@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-tawny: #A14402;
    --main-cocoa-brown: #E2711D;
    --main-princeton-orange: #ff9505;
    --mian-selective-yellow: #ffb627;
    --main-xanthous: #ffc971;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFC971;
    --secondary-color: #FF9505;
    --accent1-color: #CC5803;
    --accent2-color: #FFB627;

    --heading-font: 'IBM Plex Serif', serif;
    --paragraph-font: 'Noto Sans Display', serif;

    --nav-background-color: #EAF8BF;
    --nav-link-color: #001D4A;
    --nav-hover-link-color: #ECA400;
    --nav-hover-background-color: #006992;
}

p {
    font-family: 'Noto Sans Display', serif;
}

h1 {
    color: var(--main-tawny);
}

h2 {
    color: var(--main-tawny)
}

a {
    text-decoration: none;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.box h1 article{
    position: absolute;
    
}

.hero img {
    float: right;
    display: block;
    width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 5px;

}


header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header img {
    grid-column: 1;    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 50%;
}

.logo {
    grid-column: 1;
    margin-right: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    margin-right: 20px;

}

.nav a {
    color: var(--main-tawny)
}

.history {
    display: grid;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container p {
    margin: 0 10px;
}

.flex-container img {
    width: 100px;
    height: auto;
}

.information {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* New itemes from contact.html */

form {
    width: 650px;
    margin: 0 auto;
    padding: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0 ,0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 1rem;
    color: #71697A;
    font-size: 1rem;
}

label, input, button, select, textarea {
    font-family: monospace, sans-serif, serif;
    padding: 0.3rem;
    font-size: 1rem;
}

label {
    text-align: right;
    padding-right: 1.2rem;
}

input, select, textarea {
    padding: 0.7rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input #username {
    padding: 1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

button:hover {
    background-color: darkgreen;
}
.profile {
    max-width: 25%;
    height: auto;
}

.profile img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

.form-item-column1,
.form-item-column2 {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin-bottom: 1rem;
}

.form-item-column1 .flex-item {
  flex-basis: 50%;
}

.form-item-column2 .flex-item:first-child {
  flex-basis: 50%;
}

.form-item-column2 .flex-item:nth-child(2) {
  flex-basis: 25%;
}

button {
  align-self: flex-end;
  margin-top: 1rem;
}

.tripsphoto {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 30px;
    padding: 15px;
}

.tipsimg {
    width: 100%;
    height: auto;

}

nav {
    background-color: var(--nav-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0px;
}

nav a {
    display: flex;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    margin: 0;
    padding: 1rem;
    align-items: center;
    width: 15%
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.socialmedia {
    display: flex;
    justify-content: right;
    height: auto;
    position: fixed;
}

.flexbox-item-1 {
    min-height: 20px;
}

.flexbox-item-2 {
    min-height: 20px;
}

.flexbox-item-3 {
    min-height: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: white;
}
.one {
    grid-column: 1 / 4;
    grid-row: 1;
    align-content: center;
  }
  .two {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  .two img {
    width: 25%;
    height: auto;
  }
  .three {
    grid-column: 2;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .four img{
    width: 90%;
    height: auto;
  }