@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-tawny: #CC5803;
    --main-cocoa-brown: #E2711D;
    --main-princeton-orange: #ff9505;
    --mian-selective-yellow: #ffb627;
    --main-xanthous: #ffc971;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Noto Sans Display', serif;
}

h1 {
    color: var(--main-tawny);
}

h2 {
    color: var(--main-tawny)
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.box h1 article{
    position: absolute;
    
}

.hero img {
    float: right;
    display: block;
    width: 100%;
    height: auto;
}

.socialmedia {
    display: flex;
    justify-content: right;
    height: auto;
}

.flexbox-item-1 {
    min-height: 20px;
}

.flexbox-item-2 {
    min-height: 20px;
}

.flexbox-item-3 {
    min-height: 20px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

heder img {
    grid-column: 1;    
}

.logo {
    grid-column: 1;
    margin-right: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    margin-right: 20px;

}

.nav a {
    color: var(--main-tawny)
}

.history {
    display: grid;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container p {
    margin: 0 10px;
}

.flex-container img {
    width: 100px;
    height: auto;
}